.description__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.description__icon {
  display: flex;
  background-color: var(--third-section-color);
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 270px;
  height: 120px;
}

.description__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-dark);
}

.description__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-dark);
  margin-top: 10px;
}

.act {
  padding-top: 0;
}
.act__item {
  position: relative;
}
.act__item-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-text-color-light);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-light);
}
.act__list {
  display: flex;
  gap: 30px;
}
