.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-first-part);
  margin-right: 93px;
}
.logo__heder {
  color: var(--heder-logo-color-second-part);
}
.logo__footer {
  color: var(--primary-text-color-light);
}
